<?xml version="1.0" encoding="utf-8"?>
<Einstellungen>
    <Genre>
        <Genre_language>0</Genre_language>
        <Genre_AutoReplace>true</Genre_AutoReplace>
        <Genre_AutoDontAccept>false</Genre_AutoDontAccept>
        <Genre_tmdbdownload>true</Genre_tmdbdownload>
    </Genre>
    <MediaCenter>
        <Default_local_Source>2</Default_local_Source>
        <MediaCenter_Windows_Immerschreiben>false</MediaCenter_Windows_Immerschreiben>
        <MediaCenter_Windows_pfad>C:\Users\Administrator\AppData\Roaming\Microsoft\eHome\DvdInfoCache</MediaCenter_Windows_pfad>
        <MediaBrowser_ImagesByName />
        <MediaBrowser_ConvertMPAA>false</MediaBrowser_ConvertMPAA>
    </MediaCenter>
    <Laden>
        <Laden_Ordner_Einstellungenimmerneu>true</Laden_Ordner_Einstellungenimmerneu>
        <Laden_Ordner_MediaInfo>false</Laden_Ordner_MediaInfo>
        <Laden_Ordner_Suche>false</Laden_Ordner_Suche>
        <Laden_Ordner_suchmodus>2</Laden_Ordner_suchmodus>
        <Laden_Ordner_neuerOrdner>false</Laden_Ordner_neuerOrdner>
        <Laden_Favs_MediaInfo>false</Laden_Favs_MediaInfo>
        <Laden_Favs_Suche>false</Laden_Favs_Suche>
        <Laden_Favs_Autostart>true</Laden_Favs_Autostart>
        <Laden_Favs_Suchmodus>1</Laden_Favs_Suchmodus>
        <Laden_Dateien_CB_Minsize>false</Laden_Dateien_CB_Minsize>
        <Laden_Dateien_Minsize_val>200</Laden_Dateien_Minsize_val>
        <Laden_Dateien_FilterFoldername>Trailer</Laden_Dateien_FilterFoldername>
        <Laden_Dateien_FilterDateiEndung>-trailer|-sample</Laden_Dateien_FilterDateiEndung>
        <Laden_Dateien_List i0="*.asx" i1="*.avi" i2="*.dvr-ms" i3="*.m2ts" i4="*.mkv" i5="*.mov" i6="*.mp4" i7="*.mpeg" i8="*.mpg" i9="*.wmv" i10="*.wpl" i11="*.wtv" i12="*.xvid" i13="*.ts" i14="*.iso" i15="video_ts" />
    </Laden>
    <Abrufen>
        <Abrufen_MediaInfo_StandardSprache>German</Abrufen_MediaInfo_StandardSprache>
        <Abrufen_MediaInfo_StandardFramerate />
        <Abrufen_MoviePilotCover>true</Abrufen_MoviePilotCover>
        <Abrufen_NurDeutschimAutomodus>false</Abrufen_NurDeutschimAutomodus>
        <Abrufen_Thumbnails_Count>3</Abrufen_Thumbnails_Count>
        <Abrufen_MediaInfo_Dauer_AKT>true</Abrufen_MediaInfo_Dauer_AKT>
        <Abrufen_MediaInfo_Dauer_Format>0</Abrufen_MediaInfo_Dauer_Format>
        <Abrufen_Backdrops_Count>3</Abrufen_Backdrops_Count>
        <Abrufen_Backdrops_Modus>3</Abrufen_Backdrops_Modus>
        <Abrufen_Cover_Modus>3</Abrufen_Cover_Modus>
    </Abrufen>
    <Update>
        <Update_last>2021-01-06T18:19:37.4494671+01:00</Update_last>
        <Update_Auto>true</Update_Auto>
    </Update>
    <Speichern>
        <Save_Artikel_Titel_Vorne>true</Save_Artikel_Titel_Vorne>
        <Save_Artikel_OriginalTitel_Vorne>false</Save_Artikel_OriginalTitel_Vorne>
        <Save_Artikel_Sort_Vorne>false</Save_Artikel_Sort_Vorne>
        <Save_Artikel_Erkennung>der;die;das;Der;Die;Das;the;The;a;A</Save_Artikel_Erkennung>
        <Save_Rename_File>false</Save_Rename_File>
        <Save_Rename_moreFiles>false</Save_Rename_moreFiles>
        <Save_Rename_Folder>false</Save_Rename_Folder>
        <Save_Rename_Filepat>%titel% (%jahr%)</Save_Rename_Filepat>
        <Save_Rename_Filespat>%titel% (%jahr%) Teil {n}</Save_Rename_Filespat>
        <Save_Rename_Folderpat>%titel% (%jahr%)</Save_Rename_Folderpat>
        <Save_Rename_Sub_Files>false</Save_Rename_Sub_Files>
    </Speichern>
    <Fortschritt>
        <Fortschritt_cover>true</Fortschritt_cover>
        <Fortschritt_Cover_Quali>1</Fortschritt_Cover_Quali>
        <Fortschritt_Genre>Animation, Zeichentrick, Dokumentation, Dokumentarfilm, Documentation, Musik, Music</Fortschritt_Genre>
        <Fortschritt_Modus>1</Fortschritt_Modus>
        <Cover>1</Cover>
        <Cover_better>1</Cover_better>
        <Backdrops>1</Backdrops>
        <Backdrops_more>1</Backdrops_more>
        <Ordnername>1</Ordnername>
        <Dateiname>1</Dateiname>
        <Trailer>1</Trailer>
        <Titel>1</Titel>
        <Originaltitel>1</Originaltitel>
        <IMDB_ID>1</IMDB_ID>
        <Darsteller>1</Darsteller>
        <Regisseur>1</Regisseur>
        <Autoren>1</Autoren>
        <Studios>1</Studios>
        <Produktionsjahr>1</Produktionsjahr>
        <Produktionsland>0</Produktionsland>
        <Genre>1</Genre>
        <FSK>1</FSK>
        <Bewertung>1</Bewertung>
        <Spieldauer>1</Spieldauer>
        <Inhalt>1</Inhalt>
        <Sort>1</Sort>
        <VideoAuflösung>1</VideoAuflösung>
        <VideoSeitenverhältnis>1</VideoSeitenverhältnis>
        <VideoBildwiederholungsrate>1</VideoBildwiederholungsrate>
        <VideoCodec>1</VideoCodec>
        <AudioKanäle>1</AudioKanäle>
        <AudioCodec>1</AudioCodec>
        <AudioSprachen>1</AudioSprachen>
    </Fortschritt>
    <Überschreiben>
        <Titel>true</Titel>
        <Originaltitel>true</Originaltitel>
        <IMDB_ID>true</IMDB_ID>
        <Darsteller>true</Darsteller>
        <Regisseur>true</Regisseur>
        <Autoren>true</Autoren>
        <Studios>true</Studios>
        <Produktionsjahr>true</Produktionsjahr>
        <Produktionsland>true</Produktionsland>
        <Genre>true</Genre>
        <FSK>true</FSK>
        <Bewertung>true</Bewertung>
        <Spieldauer>true</Spieldauer>
        <Inhalt>true</Inhalt>
        <Sort>true</Sort>
        <Mode>0</Mode>
    </Überschreiben>
    <BrowserSuche>
        <BrowserSuche_external_Browsing>false</BrowserSuche_external_Browsing>
        <BrowserSuche_Use_IMDB_COM>false</BrowserSuche_Use_IMDB_COM>
    </BrowserSuche>
    <Cache>
        <Cache_Automatisch>false</Cache_Automatisch>
        <Cache_MaxSize>200</Cache_MaxSize>
    </Cache>
    <AviMux>
        <Pfad />
    </AviMux>
    <Trailer>
        <Trailer_lng_modi>0</Trailer_lng_modi>
        <Trailer_lng>de</Trailer_lng>
        <Trailer_quali>2</Trailer_quali>
    </Trailer>
</Einstellungen>